<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jindumooc.dao.ActivityVideoMapper" >
  <resultMap id="BaseResultMap" type="com.jindumooc.pojo.ActivityVideo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="mediaSource" property="mediasource" jdbcType="VARCHAR" />
    <result column="mediaId" property="mediaid" jdbcType="INTEGER" />
    <result column="finishType" property="finishtype" jdbcType="VARCHAR" />
    <result column="finishDetail" property="finishdetail" jdbcType="VARCHAR" />
    <result column="migrateLessonId" property="migratelessonid" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.jindumooc.pojo.ActivityVideo" extends="BaseResultMap" >
    <result column="mediaUri" property="mediauri" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, mediaSource, mediaId, finishType, finishDetail, migrateLessonId
  </sql>
  <sql id="Blob_Column_List" >
    mediaUri
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.jindumooc.pojo.ActivityVideoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from activity_video
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.jindumooc.pojo.ActivityVideoExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from activity_video
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from activity_video
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from activity_video
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.jindumooc.pojo.ActivityVideoExample" >
    delete from activity_video
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.jindumooc.pojo.ActivityVideo" >
    insert into activity_video (id, mediaSource, mediaId, 
      finishType, finishDetail, migrateLessonId, 
      mediaUri)
    values (#{id,jdbcType=INTEGER}, #{mediasource,jdbcType=VARCHAR}, #{mediaid,jdbcType=INTEGER}, 
      #{finishtype,jdbcType=VARCHAR}, #{finishdetail,jdbcType=VARCHAR}, #{migratelessonid,jdbcType=INTEGER}, 
      #{mediauri,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.jindumooc.pojo.ActivityVideo" >
    insert into activity_video
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="mediasource != null" >
        mediaSource,
      </if>
      <if test="mediaid != null" >
        mediaId,
      </if>
      <if test="finishtype != null" >
        finishType,
      </if>
      <if test="finishdetail != null" >
        finishDetail,
      </if>
      <if test="migratelessonid != null" >
        migrateLessonId,
      </if>
      <if test="mediauri != null" >
        mediaUri,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="mediasource != null" >
        #{mediasource,jdbcType=VARCHAR},
      </if>
      <if test="mediaid != null" >
        #{mediaid,jdbcType=INTEGER},
      </if>
      <if test="finishtype != null" >
        #{finishtype,jdbcType=VARCHAR},
      </if>
      <if test="finishdetail != null" >
        #{finishdetail,jdbcType=VARCHAR},
      </if>
      <if test="migratelessonid != null" >
        #{migratelessonid,jdbcType=INTEGER},
      </if>
      <if test="mediauri != null" >
        #{mediauri,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.jindumooc.pojo.ActivityVideoExample" resultType="java.lang.Integer" >
    select count(*) from activity_video
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update activity_video
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.mediasource != null" >
        mediaSource = #{record.mediasource,jdbcType=VARCHAR},
      </if>
      <if test="record.mediaid != null" >
        mediaId = #{record.mediaid,jdbcType=INTEGER},
      </if>
      <if test="record.finishtype != null" >
        finishType = #{record.finishtype,jdbcType=VARCHAR},
      </if>
      <if test="record.finishdetail != null" >
        finishDetail = #{record.finishdetail,jdbcType=VARCHAR},
      </if>
      <if test="record.migratelessonid != null" >
        migrateLessonId = #{record.migratelessonid,jdbcType=INTEGER},
      </if>
      <if test="record.mediauri != null" >
        mediaUri = #{record.mediauri,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update activity_video
    set id = #{record.id,jdbcType=INTEGER},
      mediaSource = #{record.mediasource,jdbcType=VARCHAR},
      mediaId = #{record.mediaid,jdbcType=INTEGER},
      finishType = #{record.finishtype,jdbcType=VARCHAR},
      finishDetail = #{record.finishdetail,jdbcType=VARCHAR},
      migrateLessonId = #{record.migratelessonid,jdbcType=INTEGER},
      mediaUri = #{record.mediauri,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update activity_video
    set id = #{record.id,jdbcType=INTEGER},
      mediaSource = #{record.mediasource,jdbcType=VARCHAR},
      mediaId = #{record.mediaid,jdbcType=INTEGER},
      finishType = #{record.finishtype,jdbcType=VARCHAR},
      finishDetail = #{record.finishdetail,jdbcType=VARCHAR},
      migrateLessonId = #{record.migratelessonid,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.jindumooc.pojo.ActivityVideo" >
    update activity_video
    <set >
      <if test="mediasource != null" >
        mediaSource = #{mediasource,jdbcType=VARCHAR},
      </if>
      <if test="mediaid != null" >
        mediaId = #{mediaid,jdbcType=INTEGER},
      </if>
      <if test="finishtype != null" >
        finishType = #{finishtype,jdbcType=VARCHAR},
      </if>
      <if test="finishdetail != null" >
        finishDetail = #{finishdetail,jdbcType=VARCHAR},
      </if>
      <if test="migratelessonid != null" >
        migrateLessonId = #{migratelessonid,jdbcType=INTEGER},
      </if>
      <if test="mediauri != null" >
        mediaUri = #{mediauri,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.jindumooc.pojo.ActivityVideo" >
    update activity_video
    set mediaSource = #{mediasource,jdbcType=VARCHAR},
      mediaId = #{mediaid,jdbcType=INTEGER},
      finishType = #{finishtype,jdbcType=VARCHAR},
      finishDetail = #{finishdetail,jdbcType=VARCHAR},
      migrateLessonId = #{migratelessonid,jdbcType=INTEGER},
      mediaUri = #{mediauri,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jindumooc.pojo.ActivityVideo" >
    update activity_video
    set mediaSource = #{mediasource,jdbcType=VARCHAR},
      mediaId = #{mediaid,jdbcType=INTEGER},
      finishType = #{finishtype,jdbcType=VARCHAR},
      finishDetail = #{finishdetail,jdbcType=VARCHAR},
      migrateLessonId = #{migratelessonid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>