<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jindumooc.dao.KeywordBanlogMapper" >
  <resultMap id="BaseResultMap" type="com.jindumooc.pojo.KeywordBanlog" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="keywordId" property="keywordid" jdbcType="INTEGER" />
    <result column="keywordName" property="keywordname" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="CHAR" />
    <result column="userId" property="userid" jdbcType="INTEGER" />
    <result column="ip" property="ip" jdbcType="VARCHAR" />
    <result column="createdTime" property="createdtime" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.jindumooc.pojo.KeywordBanlog" extends="BaseResultMap" >
    <result column="text" property="text" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, keywordId, keywordName, state, userId, ip, createdTime
  </sql>
  <sql id="Blob_Column_List" >
    text
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.jindumooc.pojo.KeywordBanlogExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from keyword_banlog
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.jindumooc.pojo.KeywordBanlogExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from keyword_banlog
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from keyword_banlog
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from keyword_banlog
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.jindumooc.pojo.KeywordBanlogExample" >
    delete from keyword_banlog
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.jindumooc.pojo.KeywordBanlog" >
    insert into keyword_banlog (id, keywordId, keywordName, 
      state, userId, ip, createdTime, 
      text)
    values (#{id,jdbcType=INTEGER}, #{keywordid,jdbcType=INTEGER}, #{keywordname,jdbcType=VARCHAR}, 
      #{state,jdbcType=CHAR}, #{userid,jdbcType=INTEGER}, #{ip,jdbcType=VARCHAR}, #{createdtime,jdbcType=INTEGER}, 
      #{text,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.jindumooc.pojo.KeywordBanlog" >
    insert into keyword_banlog
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="keywordid != null" >
        keywordId,
      </if>
      <if test="keywordname != null" >
        keywordName,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="userid != null" >
        userId,
      </if>
      <if test="ip != null" >
        ip,
      </if>
      <if test="createdtime != null" >
        createdTime,
      </if>
      <if test="text != null" >
        text,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="keywordid != null" >
        #{keywordid,jdbcType=INTEGER},
      </if>
      <if test="keywordname != null" >
        #{keywordname,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        #{state,jdbcType=CHAR},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="ip != null" >
        #{ip,jdbcType=VARCHAR},
      </if>
      <if test="createdtime != null" >
        #{createdtime,jdbcType=INTEGER},
      </if>
      <if test="text != null" >
        #{text,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.jindumooc.pojo.KeywordBanlogExample" resultType="java.lang.Integer" >
    select count(*) from keyword_banlog
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update keyword_banlog
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.keywordid != null" >
        keywordId = #{record.keywordid,jdbcType=INTEGER},
      </if>
      <if test="record.keywordname != null" >
        keywordName = #{record.keywordname,jdbcType=VARCHAR},
      </if>
      <if test="record.state != null" >
        state = #{record.state,jdbcType=CHAR},
      </if>
      <if test="record.userid != null" >
        userId = #{record.userid,jdbcType=INTEGER},
      </if>
      <if test="record.ip != null" >
        ip = #{record.ip,jdbcType=VARCHAR},
      </if>
      <if test="record.createdtime != null" >
        createdTime = #{record.createdtime,jdbcType=INTEGER},
      </if>
      <if test="record.text != null" >
        text = #{record.text,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update keyword_banlog
    set id = #{record.id,jdbcType=INTEGER},
      keywordId = #{record.keywordid,jdbcType=INTEGER},
      keywordName = #{record.keywordname,jdbcType=VARCHAR},
      state = #{record.state,jdbcType=CHAR},
      userId = #{record.userid,jdbcType=INTEGER},
      ip = #{record.ip,jdbcType=VARCHAR},
      createdTime = #{record.createdtime,jdbcType=INTEGER},
      text = #{record.text,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update keyword_banlog
    set id = #{record.id,jdbcType=INTEGER},
      keywordId = #{record.keywordid,jdbcType=INTEGER},
      keywordName = #{record.keywordname,jdbcType=VARCHAR},
      state = #{record.state,jdbcType=CHAR},
      userId = #{record.userid,jdbcType=INTEGER},
      ip = #{record.ip,jdbcType=VARCHAR},
      createdTime = #{record.createdtime,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.jindumooc.pojo.KeywordBanlog" >
    update keyword_banlog
    <set >
      <if test="keywordid != null" >
        keywordId = #{keywordid,jdbcType=INTEGER},
      </if>
      <if test="keywordname != null" >
        keywordName = #{keywordname,jdbcType=VARCHAR},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=CHAR},
      </if>
      <if test="userid != null" >
        userId = #{userid,jdbcType=INTEGER},
      </if>
      <if test="ip != null" >
        ip = #{ip,jdbcType=VARCHAR},
      </if>
      <if test="createdtime != null" >
        createdTime = #{createdtime,jdbcType=INTEGER},
      </if>
      <if test="text != null" >
        text = #{text,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.jindumooc.pojo.KeywordBanlog" >
    update keyword_banlog
    set keywordId = #{keywordid,jdbcType=INTEGER},
      keywordName = #{keywordname,jdbcType=VARCHAR},
      state = #{state,jdbcType=CHAR},
      userId = #{userid,jdbcType=INTEGER},
      ip = #{ip,jdbcType=VARCHAR},
      createdTime = #{createdtime,jdbcType=INTEGER},
      text = #{text,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jindumooc.pojo.KeywordBanlog" >
    update keyword_banlog
    set keywordId = #{keywordid,jdbcType=INTEGER},
      keywordName = #{keywordname,jdbcType=VARCHAR},
      state = #{state,jdbcType=CHAR},
      userId = #{userid,jdbcType=INTEGER},
      ip = #{ip,jdbcType=VARCHAR},
      createdTime = #{createdtime,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>