<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jindumooc.dao.ThemeConfigMapper" >
  <resultMap id="BaseResultMap" type="com.jindumooc.pojo.ThemeConfig" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="updatedTime" property="updatedtime" jdbcType="INTEGER" />
    <result column="createdTime" property="createdtime" jdbcType="INTEGER" />
    <result column="updatedUserId" property="updateduserid" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.jindumooc.pojo.ThemeConfigWithBLOBs" extends="BaseResultMap" >
    <result column="config" property="config" jdbcType="LONGVARCHAR" />
    <result column="confirmConfig" property="confirmconfig" jdbcType="LONGVARCHAR" />
    <result column="allConfig" property="allconfig" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, name, updatedTime, createdTime, updatedUserId
  </sql>
  <sql id="Blob_Column_List" >
    config, confirmConfig, allConfig
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.jindumooc.pojo.ThemeConfigExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from theme_config
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.jindumooc.pojo.ThemeConfigExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from theme_config
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from theme_config
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from theme_config
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.jindumooc.pojo.ThemeConfigExample" >
    delete from theme_config
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.jindumooc.pojo.ThemeConfigWithBLOBs" >
    insert into theme_config (id, name, updatedTime, 
      createdTime, updatedUserId, config, 
      confirmConfig, allConfig)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{updatedtime,jdbcType=INTEGER}, 
      #{createdtime,jdbcType=INTEGER}, #{updateduserid,jdbcType=INTEGER}, #{config,jdbcType=LONGVARCHAR}, 
      #{confirmconfig,jdbcType=LONGVARCHAR}, #{allconfig,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.jindumooc.pojo.ThemeConfigWithBLOBs" >
    insert into theme_config
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="updatedtime != null" >
        updatedTime,
      </if>
      <if test="createdtime != null" >
        createdTime,
      </if>
      <if test="updateduserid != null" >
        updatedUserId,
      </if>
      <if test="config != null" >
        config,
      </if>
      <if test="confirmconfig != null" >
        confirmConfig,
      </if>
      <if test="allconfig != null" >
        allConfig,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="updatedtime != null" >
        #{updatedtime,jdbcType=INTEGER},
      </if>
      <if test="createdtime != null" >
        #{createdtime,jdbcType=INTEGER},
      </if>
      <if test="updateduserid != null" >
        #{updateduserid,jdbcType=INTEGER},
      </if>
      <if test="config != null" >
        #{config,jdbcType=LONGVARCHAR},
      </if>
      <if test="confirmconfig != null" >
        #{confirmconfig,jdbcType=LONGVARCHAR},
      </if>
      <if test="allconfig != null" >
        #{allconfig,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.jindumooc.pojo.ThemeConfigExample" resultType="java.lang.Integer" >
    select count(*) from theme_config
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update theme_config
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.updatedtime != null" >
        updatedTime = #{record.updatedtime,jdbcType=INTEGER},
      </if>
      <if test="record.createdtime != null" >
        createdTime = #{record.createdtime,jdbcType=INTEGER},
      </if>
      <if test="record.updateduserid != null" >
        updatedUserId = #{record.updateduserid,jdbcType=INTEGER},
      </if>
      <if test="record.config != null" >
        config = #{record.config,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.confirmconfig != null" >
        confirmConfig = #{record.confirmconfig,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.allconfig != null" >
        allConfig = #{record.allconfig,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update theme_config
    set id = #{record.id,jdbcType=INTEGER},
      name = #{record.name,jdbcType=VARCHAR},
      updatedTime = #{record.updatedtime,jdbcType=INTEGER},
      createdTime = #{record.createdtime,jdbcType=INTEGER},
      updatedUserId = #{record.updateduserid,jdbcType=INTEGER},
      config = #{record.config,jdbcType=LONGVARCHAR},
      confirmConfig = #{record.confirmconfig,jdbcType=LONGVARCHAR},
      allConfig = #{record.allconfig,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update theme_config
    set id = #{record.id,jdbcType=INTEGER},
      name = #{record.name,jdbcType=VARCHAR},
      updatedTime = #{record.updatedtime,jdbcType=INTEGER},
      createdTime = #{record.createdtime,jdbcType=INTEGER},
      updatedUserId = #{record.updateduserid,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.jindumooc.pojo.ThemeConfigWithBLOBs" >
    update theme_config
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="updatedtime != null" >
        updatedTime = #{updatedtime,jdbcType=INTEGER},
      </if>
      <if test="createdtime != null" >
        createdTime = #{createdtime,jdbcType=INTEGER},
      </if>
      <if test="updateduserid != null" >
        updatedUserId = #{updateduserid,jdbcType=INTEGER},
      </if>
      <if test="config != null" >
        config = #{config,jdbcType=LONGVARCHAR},
      </if>
      <if test="confirmconfig != null" >
        confirmConfig = #{confirmconfig,jdbcType=LONGVARCHAR},
      </if>
      <if test="allconfig != null" >
        allConfig = #{allconfig,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.jindumooc.pojo.ThemeConfigWithBLOBs" >
    update theme_config
    set name = #{name,jdbcType=VARCHAR},
      updatedTime = #{updatedtime,jdbcType=INTEGER},
      createdTime = #{createdtime,jdbcType=INTEGER},
      updatedUserId = #{updateduserid,jdbcType=INTEGER},
      config = #{config,jdbcType=LONGVARCHAR},
      confirmConfig = #{confirmconfig,jdbcType=LONGVARCHAR},
      allConfig = #{allconfig,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jindumooc.pojo.ThemeConfig" >
    update theme_config
    set name = #{name,jdbcType=VARCHAR},
      updatedTime = #{updatedtime,jdbcType=INTEGER},
      createdTime = #{createdtime,jdbcType=INTEGER},
      updatedUserId = #{updateduserid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>