<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jindumooc.dao.UserSecureQuestionMapper" >
  <resultMap id="BaseResultMap" type="com.jindumooc.pojo.UserSecureQuestion" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="userId" property="userid" jdbcType="INTEGER" />
    <result column="securityQuestionCode" property="securityquestioncode" jdbcType="VARCHAR" />
    <result column="securityAnswer" property="securityanswer" jdbcType="VARCHAR" />
    <result column="securityAnswerSalt" property="securityanswersalt" jdbcType="VARCHAR" />
    <result column="createdTime" property="createdtime" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, userId, securityQuestionCode, securityAnswer, securityAnswerSalt, createdTime
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.jindumooc.pojo.UserSecureQuestionExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from user_secure_question
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from user_secure_question
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user_secure_question
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.jindumooc.pojo.UserSecureQuestionExample" >
    delete from user_secure_question
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.jindumooc.pojo.UserSecureQuestion" >
    insert into user_secure_question (id, userId, securityQuestionCode, 
      securityAnswer, securityAnswerSalt, createdTime
      )
    values (#{id,jdbcType=INTEGER}, #{userid,jdbcType=INTEGER}, #{securityquestioncode,jdbcType=VARCHAR}, 
      #{securityanswer,jdbcType=VARCHAR}, #{securityanswersalt,jdbcType=VARCHAR}, #{createdtime,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.jindumooc.pojo.UserSecureQuestion" >
    insert into user_secure_question
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userid != null" >
        userId,
      </if>
      <if test="securityquestioncode != null" >
        securityQuestionCode,
      </if>
      <if test="securityanswer != null" >
        securityAnswer,
      </if>
      <if test="securityanswersalt != null" >
        securityAnswerSalt,
      </if>
      <if test="createdtime != null" >
        createdTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=INTEGER},
      </if>
      <if test="securityquestioncode != null" >
        #{securityquestioncode,jdbcType=VARCHAR},
      </if>
      <if test="securityanswer != null" >
        #{securityanswer,jdbcType=VARCHAR},
      </if>
      <if test="securityanswersalt != null" >
        #{securityanswersalt,jdbcType=VARCHAR},
      </if>
      <if test="createdtime != null" >
        #{createdtime,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.jindumooc.pojo.UserSecureQuestionExample" resultType="java.lang.Integer" >
    select count(*) from user_secure_question
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update user_secure_question
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.userid != null" >
        userId = #{record.userid,jdbcType=INTEGER},
      </if>
      <if test="record.securityquestioncode != null" >
        securityQuestionCode = #{record.securityquestioncode,jdbcType=VARCHAR},
      </if>
      <if test="record.securityanswer != null" >
        securityAnswer = #{record.securityanswer,jdbcType=VARCHAR},
      </if>
      <if test="record.securityanswersalt != null" >
        securityAnswerSalt = #{record.securityanswersalt,jdbcType=VARCHAR},
      </if>
      <if test="record.createdtime != null" >
        createdTime = #{record.createdtime,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update user_secure_question
    set id = #{record.id,jdbcType=INTEGER},
      userId = #{record.userid,jdbcType=INTEGER},
      securityQuestionCode = #{record.securityquestioncode,jdbcType=VARCHAR},
      securityAnswer = #{record.securityanswer,jdbcType=VARCHAR},
      securityAnswerSalt = #{record.securityanswersalt,jdbcType=VARCHAR},
      createdTime = #{record.createdtime,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.jindumooc.pojo.UserSecureQuestion" >
    update user_secure_question
    <set >
      <if test="userid != null" >
        userId = #{userid,jdbcType=INTEGER},
      </if>
      <if test="securityquestioncode != null" >
        securityQuestionCode = #{securityquestioncode,jdbcType=VARCHAR},
      </if>
      <if test="securityanswer != null" >
        securityAnswer = #{securityanswer,jdbcType=VARCHAR},
      </if>
      <if test="securityanswersalt != null" >
        securityAnswerSalt = #{securityanswersalt,jdbcType=VARCHAR},
      </if>
      <if test="createdtime != null" >
        createdTime = #{createdtime,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jindumooc.pojo.UserSecureQuestion" >
    update user_secure_question
    set userId = #{userid,jdbcType=INTEGER},
      securityQuestionCode = #{securityquestioncode,jdbcType=VARCHAR},
      securityAnswer = #{securityanswer,jdbcType=VARCHAR},
      securityAnswerSalt = #{securityanswersalt,jdbcType=VARCHAR},
      createdTime = #{createdtime,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>